@import "variables";

.slider-list {
  list-style: none;
  text-align: left;

  .slider-list__item {
    display: inline-block;
    padding: 3px;
    margin: 3px;
    border: solid 1px #ccc;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;

    .delete {
      font-size: 18px;
      display: inline-block;
      float: right;
      margin: 3px;
      cursor: pointer;
    }
  }
}